# set environment variables

# basic environment
export USER_ID=$(id -u)
export DOCKER_BUILDKIT=1
export DOCKER_DEFAULT_PLATFORM=linux/amd64
export PYRIGHT_PYTHON_FORCE_VERSION=latest

if [ -f .env ]; then
    dotenv
fi

# https://github.com/direnv/direnv/wiki/PS1
unset PS1

# add gcloud and CLI to PATH
PATH_add $PWD/.venv/google-cloud-sdk/bin
PATH_add $PWD/infrastructure/cli/_bin

# display warning about having not installed any required Linux packages (which cannot be auto-installed)
RED='\033[0;31m'
NC='\033[0m'

REQUIRED_PACKAGES=(
    gcloud node uv pnpm osv-scanner
)
for package in "${REQUIRED_PACKAGES[@]}"; do
  if ! command -v "$package" &> /dev/null; then
    echo -e "${RED}WARNING:${NC} The following is not installed, but is a required system dependency. Please install it manually using your preferred method: $package"
  fi
done

# enforce Python 3.13 as system Python
PYVERSION=$(uv run python --version)
if [[ "$PYVERSION" != "Python 3.13"* ]]; then
    echo "ERROR: Python 3.13 is required, but you have $PYVERSION"
fi

# platform-specific requirements
## OSX
if [ "$(uname)" == "Darwin" ]; then
    # gmake
    if ! command -v gmake &> /dev/null; then
        echo -e "${RED}WARNING:${NC} For OSX environments, you must install GNU make (gmake) in place of make."
    fi
fi

# copy ADC to inside repo. Why? Because when using the default location of ADC, all GCP SDKs will
# invoke gcloud through a subprocess in order to determine the project ID, even if it is already
# set in the environment. I have no idea why on earth this is the policy. This is a workaround for
# that: if the ADC are in a non-standard location, we skip loading the project ID via the CLI, and
# it instead looks to the GOOGLE_CLOUD_PROJECT environment variable.
[ -e .adc.json ] || ln -s $HOME/.config/gcloud/application_default_credentials.json .adc.json
export GOOGLE_APPLICATION_CREDENTIALS=$PWD/.adc.json
export GOOGLE_CLOUD_PROJECT=acme-feature-0000

# set feature environment
FEATURE_ENVIRONMENT="${FEATURE_ENVIRONMENT:-$(git rev-parse --abbrev-ref HEAD)}"
export FEATURE_ENVIRONMENT=$(echo $FEATURE_ENVIRONMENT | sed 's/-//g')
if [ "$FEATURE_ENVIRONMENT" == "main" ]; then
    export FEATURE_ENVIRONMENT=
fi
